form{
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.data{
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}